@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none !important;
}

#header h1 {

    height: 100px;
    font-size: 25px;
    background-color: rgb(17, 17, 17);
    margin:0 !important;
    /* 이 코드 건드릴 사람은 서진원한테 전화할것 */
    /* 상단 타이틀바 관련 css */
}

#header li {

    height: 40px;
    float: left;
    text-align: center;
    /* background-color: #ffffff; */
    width: 16.5%;
    /*border-right: 1px dotted #cccccc; */
    /* 상단 타이틀바 관련 css */

}

.sub1{
    position: absolute;
    z-index: 1000;
    height: 200px;
    display: none;
    background-color: rgb(26, 188, 156,0.5);
    margin-top: 71px;
    width: 100%;
    /* 상단 타이틀바 css */
}
/*
#sidebar {
    width: 160px;
    float: left;

} */

#header h1 {
    height: 100px;
    font-size: 25px;
}

#body {
    width: auto;
    height: auto;
    float: left;
}


#content {
    margin: auto;
    background-color: #212121;
    height: 4150px;
    /* 페이지 전체 크기 */
}


/* #TopBoxOffice{
    width: auto;
    height: 600px;
    margin-left: 21%;
    margin-left: 6%;
    height: 50%;
} */

/* #stllcut{
    width:auto;
    height: auto;
    max-height: 600px;
    max-width: 1000px;
}
 */

#gallerytitle{
    margin:auto;
    text-align: center;
    /* to be shown 관련 css */
}

#font{
    font-size: 40px;
    /* to be shown 관련 css */
}
/* #gallery {
    margin-left: 15%;
    height: 300px;
    width: auto;
    고치는중인 코드 아직 뭐가 문제인지 모르겠음
}

#gallery li {

    width: 33.33%;
    float: left;
}

#gallery li a {
    display: block;
    width: auto;
    padding: 10px;
}

#gallery .thumb img {
    max-width: 180px;
    max-height: 255px;
    width: 100%;
    height: 100%
    포스터 사이즈를 일정한 사이즈로 고정한다.
    이코드가 과거 포스터 hover에 잔제 css 혹시몰라 냅둠
} */

#gallery{
    height: 1600px;
    width: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.thumbnail:hover .overlay {
  opacity: 1;
}

.thumbnail {
    margin-left: 15%;
    width: 310px;
    position: relative;
}



div .thumbnail .rank {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #53b5a0;
    text-align: center;
}

div .thumbnail #prize {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

div .thumbnail .rank strong {
    color: #fff;
}


/* #title{
    margin: 0;
    padding: 0;
    background-color: rgb(17, 17, 17);
}
 */


.panel-default{
    /* 최하단 일주월박스오피스 박스 크기 */
    margin: auto;
    float: left;
    width: 400px;
}

#allInOneBox img{
    float:left;
    width:80px;
    height: 110px;
}

#allInOneBox table{
    text-align: left;
}
#allInOneBox  span{
    width: 24px;
    height: 24px;
    font-size: 20px;
    text-align: center;
    background-color: #eee234;
    float:left;
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px
}

 .swiper-container {
    margin-left: 10%;
    width:1500px;
    height:700px;
    border:5px solid silver;
    border-radius:7px;
    box-shadow:0 0 20px #ccc inset;
    이코드 팀원들한테 한번 물어보자
}
 